<section *ngIf="images">
  <carousel
    objectFit="contain"
    [cellsToShow]="3"
    [height]="300"
    [overflowCellsLimit]="3"
  >
    <div class="carousel-cell" *ngFor="let image of images">
      <img [src]="image.url" alt="{{ image.name }}" />
      <p>{{ images.name }}</p>
    </div>
  </carousel>
</section>

<!-- <ngb-carousel
  #carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="3000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
>
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img
        [src]="image.url"
        alt="{{ image.name }}"
        routerLink="{{ image.id }}"
      />
      <p>{{ image.name }}</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<!-- <swiper
  [slidesPerView]="3"
  [spaceBetween]="50"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide *ngFor="let image of images">
    <img [src]="image.url" alt="{{ image.name }}" routerLink="{{ image.id }}" />
    <p>{{ image.name }}</p>
  </ng-template>
</swiper> -->
