<carousel objectFit="contain" [cellsToShow]="5" [height]="300">
  <div class="carousel-cell" *ngFor="let image of images">
    <img [src]="image.url" alt="{{ image.name }}" />
  </div>
  <h3>{{ images.name }}</h3>
</carousel>

<!-- <ngb-carousel
  #carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="3000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
>
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img
        [src]="image.url"
        alt="{{ image.name }}"
        routerLink="{{ image.id }}"
      />
      <p>{{ image.name }}</p>
    </div>
  </ng-template>
</ngb-carousel> -->
