<h1>Galleries</h1>

<main>
  <mat-card *ngFor="let gallery of galleries">
    <mat-card-content routerLink="{{ gallery.id }}">
      <mat-card-title>
        {{ gallery.title }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ gallery.description }}
      </mat-card-subtitle>
      <!-- <app-gallery-detail></app-gallery-detail>
      <app-images></app-images> -->
      <!-- <app-gallery-detail></app-gallery-detail> -->
    </mat-card-content>
  </mat-card>
  <section *ngIf="isLoggedIn">
    <app-create-gallery></app-create-gallery>
  </section>
</main>
